

<app-card >
  <flash-messages></flash-messages>

  <form [formGroup]="bForm"  (ngSubmit)="add(air.value,tw.value)">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Aéroport de depart</label>
      <div class="col-sm-10">
        <select  name="select" class="form-control" #air>
          <option *ngFor="let a of airposts " [value]="a.code">{{a.nom}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Ville d'arriver</label>
      <div class="col-sm-10">
        <select  name="select" class="form-control" #tw>
          <option *ngFor="let t of towns " [value]="t.id"  >{{t.nom}}</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">distance</label>
      <div class="col-sm-10">
        <input type="number"  min="0" class="form-control" placeholder="tapez la distance " name="distance"   [(ngModel)]="direction.distance" formControlName="distance">
        <div *ngIf="bForm.controls['distance'].invalid && bForm.controls['distance'].touched" class="alert alert-warning">champ obligatoire. </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Prix d'adultes</label>
      <div class="col-sm-10">
        <input type="number"  min="0" class="form-control" placeholder="tapez le prix d'adultes " name="adultes"  [(ngModel)]="direction.prixAdult"  formControlName="adultes">
        <div *ngIf="bForm.controls['adultes'].invalid && bForm.controls['adultes'].touched" class="alert alert-warning">champ obligatoire. </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Prix d'enfant</label>
      <div class="col-sm-10">
        <input type="number"  min="0" class="form-control" placeholder="tapez le Prix d'enfant" name="enfant"   [(ngModel)]="direction.prixEnfant" formControlName="enfant" >
        <div *ngIf="bForm.controls['enfant'].invalid && bForm.controls['enfant'].touched" class="alert alert-warning">champ obligatoire. </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Prix de bébé</label>
      <div class="col-sm-10">
        <input type="text"  min="0" class="form-control" placeholder="tapez le Prix d'enfant" name="prix"  [(ngModel)]="direction.prixBebe"  formControlName="prix">
        <div *ngIf="bForm.controls['prix'].invalid && bForm.controls['prix'].touched" class="alert alert-warning">champ obligatoire. </div>
      </div>
    </div>

    <div class="text-right">
      <button type="number"  [disabled]="!bForm.valid" class="btn btn-primary btn-lg" >ajouter</button>
    </div>

  </form>

</app-card>

