<app-card [title]="'Basic table'" [classHeader]="false" [blockClass]="'table-border-style'" >
  <span class="code-header">use class <code>table</code> inside table element</span>
  <div class="table-responsive">
    <table class="table" >
      <thead>
      <tr>

        <th>Email d'utilisateur</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
        <th>Numero telephone</th>
        <th>Modifier</th>
        <th>supprimer</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let c of clients" >
        <td>{{c.username}}</td>
        <td>{{c.nom}}</td>
        <td>{{c.prenom}}</td>
        <td>{{c.adresse}}</td>
        <td>{{c.numTel}}</td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs"  (click)="updateClient(c)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-edit"></span></button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs"   (click)="deletevehicle(c)" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="fa fa-trash"></span></button></p></td>
      </tr>

      </tbody>
    </table>
  </div>
</app-card>
<!-- Basic table card end -->
