



<app-card >
  <flash-messages></flash-messages>

  <form [formGroup]="aForm" class="form-horizontal"  (ngSubmit)="addclient()">

    <div class="form-group row" >
      <label class="col-sm-2 col-form-label control-label" >Email d'utilisateur</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="tapez l'email du client" name="username" required [(ngModel)]="client.username" formControlName="username" >
        <div *ngIf="aForm.controls['username'].invalid && aForm.controls['username'].touched" class="alert alert-warning">champ obligatoire. champ doit etre un email valide.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">mot de passe</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder="tapez le mot de passe du client" name="password" required [(ngModel)]="client.password"  minlength="4" formControlName="password" >
        <div *ngIf="aForm.controls['password'].invalid && aForm.controls['password'].touched" class="alert alert-warning" >champ obligatoire. Le mot de passe doit être de 4 caractères au minimum.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">nom </label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" placeholder="tapez le nom du client " name="nom" required [(ngModel)]="client.nom"  formControlName="nom" >
        <div *ngIf="aForm.controls['nom'].invalid && aForm.controls['nom'].touched" class="alert alert-warning">champ obligatoire.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">prenom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="tapez le prénom du client" name="prenom" required [(ngModel)]="client.prenom"  formControlName="prenom">
        <div *ngIf="aForm.controls['prenom'].invalid && aForm.controls['prenom'].touched" class="alert alert-warning">champ obligatoire.</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">adresse</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="tapez l'adresse du client" name="adresse" required [(ngModel)]="client.adresse" formControlName="adresse" >
        <div *ngIf="aForm.controls['adresse'].invalid && aForm.controls['adresse'].touched" class="alert alert-warning">champ obligatoire.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">numero telephone</label>
      <div class="col-sm-10">
        <input type="number" class="form-control"  placeholder="Taper le numero téléphone du client" name="numTel" required [(ngModel)]="client.numTel" formControlName="numTel"  >
        <div *ngIf="aForm.controls['numTel'].invalid && aForm.controls['numTel'].touched" class="alert alert-warning">champ obligatoire.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">solde</label>
      <div class="col-sm-10">
        <input type="number" min="0" class="form-control"  placeholder="Taper le solde de client " name="solde" required [(ngModel)]="client.solde" formControlName="solde"  >
        <div *ngIf="aForm.controls['solde'].invalid && aForm.controls['solde'].touched" class="alert alert-warning">champ obligatoire.</div>
      </div>
    </div>



    <div class="text-right">
      <button type="submit" [disabled]="!aForm.valid"  class="btn btn-primary btn-lg" >ajouter</button>
    </div>

  </form>

</app-card>

